@import '../scss/Helper.scss';
#backGroundKNT {
  background-image: url("../assets/nick-morrison-FHnnjk1Yj7Y-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@import "../scss/Header.scss";
@import "../scss/CouresItem.scss";
@import "../scss/buttonForm.scss";
@import "../scss/ContentNomal.scss";
@import "../scss/MediaQuery.scss";
@import "../scss/MyTap.scss";