.cardKNT {
    width: 100%;
    height: 100%;
    position: relative;
    img {
      width: 100%;
      height: 250px;
    }
    &:hover {
      .textContent {
        opacity: 1;
        width: 70%;
      }
    }
    .textContent {
      color: black;
      position: absolute;
      background-color: white;
      left: 4%;
      top: 0;
      width: 100%;
      opacity: 0;
      transition: all 1s;
      z-index: 1;
    }
  
    .textTitleKNT {
      margin-top: 20px;
      height: 100%;
      width: 100%;
  
      span {
        font-size: 17px;
        font-weight: 600;
        color: #00d2d3;
        transition: all 1s;
        &:hover {
          color: #fd0b0f;
          font-size: 20px;
        }
      }
    }
    .myButton {
      @media screen and (max-width: 768px) {
        width: 39%;
      }
      display: inline-block;
      border: none;
      color: #fff;
      text-decoration: none;
      background-color: #3498db;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 3px;
      border-radius: 20px;
      text-align: center;
      position: relative;
      outline: none;
      transition: background-color 1s;
      cursor: pointer;
      margin-left: 25px;
      padding-top: 20px;
      padding-bottom: 20px;
      width: 40%;
      margin-top: 10px;
      &::after {
        transition: background-color 0.2s ease;
        position: absolute;
        content: "";
        height: 4px;
        bottom: 0;
        width: 100%;
        background-color: darken(white, 50%);
        opacity: 0.18;
        border-bottom-left-radius: 2px;
        border-bottom-right-radius: 2px;
        left: 0;
      }
      &.register {
        background-color: rgba(129, 236, 236, 1);
        color: rgba(232, 67, 147, 1);
      }
      &.register:hover {
        background-color: #fdcb6e;
      }
      &.destroy {
        width: 87%;
        margin-left: 25px;
        background-color: #2d3436;
      }
      &.destroy:hover {
        background-color: #d63031;
      }
      &.editOfTeacher {
        background-color: #2c3e50;
      }
      &.editOfTeacher:hover {
        background-color: yellowgreen;
      }
      &:focus,
      :hover .buton1 {
        text-decoration: none;
        color: white;
      }
      &:hover {
        background-color: lighten(pink, 5%);
        &::after {
          opacity: 0.22;
        }
      }
      &:active {
        background-color: darken(#2ecc71, 5%);
        &::after {
          opacity: 0.32;
        }
      }
    }
  }